<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Distributions</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
  </head>
  <body style="max-width: 95%; margin: auto;">
    <h2>Probability that randomization bias leads to a negative trial result of an effective treatment</h2>
    <div style="background-color: #f2f2f2; padding: 20px; border-radius: 5px;">
      <form method="post">
        <label for="num_patients">Number of Patients in Trial (up to 50,000):</label>
        <input type="text" id="num_patients" name="num_patients" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px;" value="{{num_patients or 254}}" pattern="[1-9][0-9]{0,3}|50000">
        <br>
        <label for="sd">SD of outcome in previous population:</label>
        <input type="text" id="sd" name="sd" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px;" value="{{sd or 1.7}}" pattern="[0-9]{1,3}(\.[0-9]{1})?|500">
        <br>
        <label for="prev_n">Number of patients previous population (for calculating SD)</label>
        <input type="text" id="prev_n" name="prev_n" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px;" value="{{prev_n or 50}}" pattern="[1-9][0-9]{0,3}|50000">
        <br>
        <label for="exp_rate">Expected Rate of Outcome:</label>
        <input type="text" id="exp_rate" name="exp_rate" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px;" value="{{exp_rate or 3}}" pattern="[0-9]{1,3}(\.[0-9]{1})?|500">
        <br>
        <label for="ctrl_rate">Mean Outcome of Control Arm:</label>
        <input type="text" id="ctrl_rate" name="ctrl_rate" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px;" value="{{ctrl_rate or 3}}" pattern="[0-9]{1,3}(\.[0-9]{1})?|500">
        <br>
        <label for="treat_effect">Mean Outcome of Treatment Arm:</label>
        <input type="text" id="treat_rate" name="treat_rate" style="border-radius: 5px; border: 1px solid #ccc; padding: 5px;" value="{{treat_rate or 1.6}}" pattern="[0-9]{1,3}(\.[0-9]{1})?|500">
        <br><br>
<div style="width: 100%; text-align: center;">
    <input type="submit" value="Submit" style="background-color: #003366; color: white; font-size: 20px;">
</div>

      </form> 
    </div>
    <br><br>
    {{ chart|safe }}
    {{ chart_2|safe }}
    {{ chart_ml|safe }}
    {{ chart_2_ml|safe }}
  </body>
</html>

